
i[class ^=icon]{
    display: inline-block;
    background-repeat: no-repeat;
    background-position:0 0;
}

.w-21{width: 21px;height: 21px;}
.mb--5{margin-bottom: -5px;}
.icon-aside-home {background-image: url("~@/assets/images/home.png");}
.icon-aside-informtion {background-image: url("~@/assets/images/informtion.png");}
.icon-aside-product {background-image: url("~@/assets/images/product.png");}
.icon-aside-console {background-image: url("~@/assets/images/console.png");}
.icon-aside-user {background-image: url("~@/assets/images/user.png");}

.svg-class{
    width: 1em;
    height: 1em;
    fill:currentColor,
}
.aside-width-25{
    font-size: 25px;
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
    margin-right: 5px;
}
.aside-width-30{
    font-size: 25px;
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
    margin-right: 6px;
}